*{
    margin: 0;
    padding: 0;
}

tr{
    vertical-align: middle;
    
}

body{
    background-color: #2980b9;
    
}

.card.body{
    background-color: #2c3e50;
    color: white;
    padding: 30px;
}

.cardesing{
    color: white;
}

.card{
    background-color: #58B19F;
    border-radius: 40px 0px 40px 0px;
}

.showscard{
    padding: 500px;
}